

<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
		<h1><%= @podcast.title %></h1>
		<p class="description"><%= @podcast.description %></p>

			<% unless @podcast.itunes.blank? %>
			<a href="<%= @podcast.itunes %>" class="subscribe_link">iTunes</a>
			<%end%>
			<% unless @podcast.stitcher.blank? %>
			<a href="<%= @podcast.stitcher %>" class="subscribe_link">Sticher</a>
			<%end%>

			<% unless @podcast.podbay.blank? %>
			<a href="<%= @podcast.podbay %>" class="subscribe_link">PodBay</a>
			<%end%>
		
		</div>
	</div>	
	<div id="breadcrumb">
		<%= link_to podcasts_path do%>
		
			All Podcsts
			<span>/</span>
			The Rocketship Podcast
			
		<%end%>
	</div>

	<div id="episodes">
		<div class="wrapper_skinny">
			<ul class="cf">
				<li class="cf">
					<div class="episode_thumbnail">
						<a href="episode.html">
							<img src="images/nick6.jpg" alt="nick">
						</a>
					</div>
					<div class="episode_overview">
						<h2><a href="episode.html">How to have hot bf in 12 days!</a></h2>
						<p class="description">Nick is the hottest guy in town with best skills in bed and computing and currently in love with Korean beauty for whatever very serious future !</p>
					</div>

				</li>
			    <li class="cf">
					<div class="episode_thumbnail">
						<a href="episode.html">
							<img src="images/nick6.jpg" alt="nick">
						</a>
					</div>
					<div class="episode_overview">
						<h2><a href="episode.html">How to have hot bf in 12 days!</a></h2>
						<p class="description">Nick is the hottest guy in town with best skills in bed and computing and currently in love with Korean beauty for whatever very serious future !</p>
					</div>

				</li>
				<li class="cf">
					<div class="episode_thumbnail">
						<a href="episode.html">
							<img src="images/nick6.jpg" alt="nick">
						</a>
					</div>
					<div class="episode_overview">
						<h2><a href="episode.html">How to have hot bf in 12 days!</a></h2>
						<p class="description">Nick is the hottest guy in town with best skills in bed and computing and currently in love with Korean beauty for whatever very serious future !</p>
					</div>

				</li>
				<li class="cf">
					<div class="episode_thumbnail">
						<a href="episode.html">
							<img src="images/nick6.jpg" alt="nick">
						</a>
					</div>
					<div class="episode_overview">
						<h2><a href="episode.html">How to have hot bf in 12 days!</a></h2>
						<p class="description">Nick is the hottest guy in town with best skills in bed and computing and currently in love with Korean beauty for whatever very serious future !</p>
					</div>

				</li>
				<li class="cf">
					<div class="episode_thumbnail">
						<a href="episode.html">
							<img src="images/nick6.jpg" alt="nick">
						</a>
					</div>
					<div class="episode_overview">
						<h2><a href="episode.html">How to have hot bf in 12 days!</a></h2>
						<p class="description">Nick is the hottest guy in town with best skills in bed and computing and currently in love with Korean beauty for whatever very serious future !</p>
					</div>

				</li>
			</ul>
		</div>
	</div>

</div>

<div class="pagination">
			<span class="previous_page disabled">Previous</span>
			<em class="current">1</em>
			<a href="#">2</a>
			<a href="#" class="next_page">Next</a>
		</div>

	</body>
</html>